# Environments
 .env
 env/
.venv/
venv/

# Django
db.sqlite3
*.log

# Media and Static files
/media/
/staticfiles/

# Python build artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# IDE
.idea/
.vscode/

# Testing
.coverage
htmlcov/